.wrapper {
  width: 100vw;
  height: 100vh; }

header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header h2 {
    margin-left: 40px; }

.select-wrap {
  margin-right: 40px; }
